@font-face { 
	font-family :SourceSansPro-Regular ; 
	src : url('../fonts/SourceSansPro-Regular.ttf') ; 
	font-family: 
 }
 html{
 	font-size: 10px;
 	font-family: "Microsoft YaHei",Arial,sans-serif,Helvetica;
 }
 a{
	font-weight: 400;
	text-decoration: none;
	cursor: pointer;
}
input::-webkit-input-placeholder {
    color:    #bbb;
    font-size: 1.3rem;
}
input:-moz-placeholder {
    color:    #bbb;
    font-size: 1.3rem;
}
.home_slide {
  height: 200px; 
}
.spinner svg {
  width: 2.8rem;
  height: 2.8rem;
  fill: #444; 
}
/*————————————————欢迎页————————————————*/
#login_div{
	height: 100%;
	/*background-color: #251C43;*/
	/*background-color: rgb(35,31,69);*/
	/*background-color: rgb(131, 225, 218);*/
	background-color: #54D3F2;
	text-align: center;
}
.logo{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15%;
	margin-bottom: 0px;
}
.login{
	text-align: right;
	margin-right: 1rem;
	padding-top: 1rem;


}
.login span{
	color: #fff;
	font-size: 1.6rem;
	font-weight: 500;
}
.button-full>button.button, button.button-block, button.button-full, input.button.button-block{
	width: 70%;
}
.button{
	min-height: 2.8rem;
}
.z_btn{
	font-size: 1.6rem;
	font-weight: 500;
	margin-right: auto;
	margin-left: auto;
	border-radius: 3.2rem;
	color: #fff;
}
.email{
	background-color: #F7B929;
	border-color: #F7B929;
/*	background-color: #FFC900;
	border-color: #FFC900;*/
}
.weixin{
	/*background-color: #3A5194;
	border-color: #3A5194;*/
	background-color: #434CA6;
	border-color: #434CA6;
}
.email.activated{
	color: #fff;
	background-color: #D89702;
	border-color: #D89702;
}
.email:hover{
	color: #fff;
	background-color: #D89702;
	border-color: #D89702;
}
.weixin.activated{
	color: #fff;
	background-color: #3F4792;
	border-color: #3F4792;
}
.weixin:hover{
	color: #fff;
	background-color: #314379;
	border-color: #314379;
}
.white_p{
	color: #fff;
	font-size: 1.6rem;
	margin-top: 10%;
}
.white_p a{
	color: #fff;
	font-weight: 500;
}
.left{
	left: 1.5%;
}
.right{
	right: 1.5%;
	float: right;
}
.bottom_label{
	position: absolute;
	bottom: 1.5%;
	color: #fff;
	font-weight: 400;
}
.bottom_label a{
	color: #fff;
}
/*————————————————登录————————————————*/
.bar.bar-positive{
	border:0px;
    background-color: #54D3F2;
    /*background-image: linear-gradient(0deg,#0c63ee,#0c63ee 50%,transparent 50%);*/
    color: #fff;
}
#tologin_id{
	background-color: #54D3F2;
}
.mylist span{
	font-size: 1.6rem;
}
.mylist input{
	color: #EEA702;
	height: 5.5rem;
	font-size: 1.6rem;
}
.login_btns{
	margin-top: 2rem;
	text-align: center;
}
.login_btns p{
	padding-top: 0.5rem;
}
.login_btns a{
	color: #fff;
}
/*————————————————验证————————————————*/
#verify_id{
	background-color: #54D3F2;
}
/*————————————————手机注册————————————————*/
#e-signup_id{
	background-color: #54D3F2;
}
.get-code{
	position: absolute;
	/*float: right;*/
	top: 1.5rem;
	right: 0.5rem;
	height:3.0rem;
	width: 10rem;
	background-color: #3F4792;
	border-radius: 2rem;
	border:1px solid #3F4792;
	box-shadow: 0 0 1px #edeff0;
	color: #fff;
	vertical-align: middle;
	text-align: center;
	padding-top: 0.6rem;
}
.get-code p{
	color: #fff;
	font-size: 1.2rem;
}
/*————————————————完善个人信息————————————————*/
#personal-info_id{
	background-color: #54D3F2;
}
/*————————————————修改密码————————————————*/
#change-password_id{
	background-color: #54D3F2;
}




















