<ion-view title="首页">
    <!-- <ion-header-bar class="bar-positive">
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
    </ion-header-bar> -->
    <!-- 侧滑菜单加上这些内容就好 -->
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content  direction="y" >
            <div class="home_slide">
            <ion-slide-box does-continue="true" auto-play="true"  slide-interval="3000" on-slide-changed="slideHasChanged($index)" >
                <ion-slide ng-repeat="item in slide_item">
                    <div>
                        <img src="{{item['slideimg']}}">
                    </div>
                </ion-slide>
            </ion-slide-box>
            </div>

            <div class="list">
                <a class="item item-icon-left" ui-sref="yuyue.home">
                    <i class="icon ion-ios-basketball"></i>
                    场馆预约
                </a>
            </div>
    </ion-content>
</ion-view>