<ion-view title="手机注册" id="e-signup_id">
<ion-content class="has-header">
<div class="list mylist">
	<label class="item item-input">
		<div class="row no-left-bottom-row">
			<div class="input-label col-50 myinput">
				<span class="row">昵称</span>
				<span ng-show="snotice.name_null" class="row notice">请输入您的昵称</span>
				<!-- <span ng-show="snotice.sauth" class="row notice"></span> -->
			</div>
			<div class="col-50">
				<input type="text" ng-model="snotice.uname">
			</div>
		</div>
	</label>
	<label class="item item-input">
		<div class="row no-left-bottom-row">
		<div class="input-label col-50 myinput">
			<span class="row">手机号码</span>
			<span ng-show="snotice.p_exist" class="row notice">该手机号已注册</span>
			<span ng-show="snotice.p_null" class="row notice">请输入有效手机号码</span>
			<span ng-show="snotice.signauth" class="row notice">验证码错误</span>
		</div>
		<div class="col-50">
			<input type="text" ng-model="snotice.p_number">
		</div>
		</div>
	</label>
	<div ng-show="seconds.codeShow" ng-disabled="seconds.forbid" ng-class="{true:'get-code',false:'get-code-forbid'}[seconds.isForbid]"><p id="seconds"><span>{{seconds.seconds}}</span>s后重新发送</p></div>
	<div class="get-code" ng-click="getcode()" ng-show="seconds.getShow" ng-disabled="seconds.forbid"><p>获取验证码</p></div>
	<label class="item item-input">
		<div class="row no-left-bottom-row">
		<div class="input-label col-50 myinput">
			<span class="row">验证码</span>
			<span ng-show="snotice.code_null" class="row notice">请输入有效验证码</span>
			<span ng-show="snotice.signauth" class="row notice">验证码错误</span>
		</div>
		<div class="col-50">
			<input type="text" ng-model="snotice.code_number">
		</div>
		</div>
	</label>
	<label class="item item-input">
		<div class="row no-left-bottom-row">
		<div class="input-label col-50 myinput">
			<span class="row">密码</span>
			<span ng-show="snotice.pwd_null" class="row notice">请输入至少六位密码</span>
		</div>
		<div class="col-50">
			<input type="password" ng-model="snotice.pwd_number">
		</div>
		</div>
	</label>
	<div class="login_btns">
		<button ng-class="{1:'email button button-block z_btn',0:'error_btn button button-block z_btn'}[snotice.error_class]" ng-click="signup()">
		{{words.signup_word}}
		</button>
		<!-- <p ng-repeat="test1 in tests">{{test1}}</p> -->
		<!-- 		<p><a href="#">忘记密码</a></p> -->
	</div>
</div>
</ion-content>
</ion-view>