<ion-view title="登录" id="tologin_id">
<!-- 	<div class="bar bar-header">
		<ion-nav-back-button>
		返回
		</ion-nav-back-button>
		<h1 class="title">Header Buttons</h1>
		<button class="button">Edit</button>
</div> -->
<!-- <ion-nav-bar class="bar-positive">
<ion-nav-back-button>
返回
</ion-nav-back-button>
<h1 class="title">场馆预约</h1>
</ion-nav-bar> -->
<ion-content class="has-header">
<div class="list mylist">
	<label class="item item-input ">
		<div class="row no-left-bottom-row">
		<div class="input-label col-50 myinput">
			<span class="row">手机号码</span>
			<span ng-show="notice.p_null" class="row notice">请输入有效手机号码</span>
			<span ng-show="notice.auth" class="row notice">用户名密码错误</span>
		</div>
		<div class="col-50">
			<input type="text" ng-model="notice.p_number">
		</div>
		</div>
	</label>
	<label class="item item-input">
		<div class="row no-left-bottom-row">
		<div class="input-label col-50 myinput">
			<span class="row">密码</span>
			<span ng-show="notice.pwd_null" class="row notice">请输入至少六位的密码</span>
			<!-- <span ng-show="notice.pwd_6" class="row notice">密码至少为六位</span> -->
			<span ng-show="notice.auth" class="row notice">用户名密码错误</span>
		</div>
		<div class="col-75">
			<input type="password" ng-model="notice.pwd_number">
		</div>
		</div>
	</label>
	<div class="login_btns">
		<button ng-click="plogin()" ng-class="{1:'email button button-block z_btn',0:'error_btn button button-block z_btn'}[notice.error_class]">
		{{words.login_word}}
		</button>
		<button class="button button-block z_btn weixin">
		微信登陆
		</button>
		<p><a ui-sref="user.change-password">忘记密码</a></p>
	</div>
</div>
</ion-content>
</ion-view>
