<ion-view title="验证" id="verify_id">
<ion-content class="has-header">
<div class="list mylist">
	<label class="item item-input">
		<div class="row no-left-bottom-row">
			<div class="input-label col-50 myinput">
				<span class="row">一卡通</span>
				<span ng-show="vnotice.c_null" class="row notice">请输入您的一卡通</span>
				<span ng-show="vnotice.vauth" class="row notice">学号一卡通错误</span>
			</div>
			<div class="col-50">
				<input type="text" ng-model="vnotice.c_number">
			</div>
		</div>
	</label>
	<label class="item item-input ">
		<div class="row no-left-bottom-row">
			<div class="input-label col-50 myinput">
				<span class="row">学号</span>
				<span ng-show="vnotice.s_null" class="row notice">请输入您的学号</span>
				<span ng-show="vnotice.vauth" class="row notice">学号一卡通错误</span>
			</div>
			<div class="col-50">
				<input type="text" ng-model="vnotice.s_number">
			</div>
		</div>
	</label>
	<div class="login_btns">
		<button class="button button-block z_btn email"  ng-click="verify()" ng-class="{1:'button button-block z_btn email',0:'button button-block z_btn error_btn'}[notice.error_class]">
		{{words.verify_word}}
		</button>
		<!-- 		<p><a href="#">忘记密码</a></p> -->
	</div>
</div>
</ion-content>
</ion-view>