<ion-view title="修改密码" id="change-password_id">
<ion-content class="has-header">
<div class="list mylist">
	<label class="item item-input">
		<div class="row no-left-bottom-row">
		<div class="input-label col-50 myinput">
			<span class="row">手机号码</span>
			<span ng-show="change_notice.p_null" class="row notice">请输入有效手机号码</span>
			<span ng-show="change_notice.codeauth" class="row notice">验证码错误</span>
		</div>
		<div class="col-50">
			<input type="text" ng-model="change_notice.p_number">
		</div>
		</div>
	</label>
	<div ng-show="seconds.codeShow" ng-disabled="seconds.forbid" ng-class="{true:'get-code',false:'get-code-forbid'}[seconds.isForbid]"><p id="seconds"><span>{{seconds.seconds}}</span>s后重新发送</p></div>
	<div class="get-code" ng-click="getcode()" ng-show="seconds.getShow" ng-disabled="seconds.forbid"><p>获取验证码</p></div>
	<label class="item item-input">
		<div class="row no-left-bottom-row">
		<div class="input-label col-50 myinput">
			<span class="row">验证码</span>
			<span ng-show="change_notice.code_null" class="row notice">请输入有效验证码</span>
			<span ng-show="change_notice.codeauth" class="row notice">验证码错误</span>
		</div>
		<div class="col-50">
			<input type="text" ng-model="change_notice.code_number">
		</div>
		</div>
	</label>
	<label class="item item-input">
		<div class="row no-left-bottom-row">
		<div class="input-label col-50 myinput">
			<span class="row">密码</span>
			<span ng-show="change_notice.pwd1_null" class="row notice">请输入至少六位密码</span>
			<span ng-show="change_notice.pwd_notsame" class="row notice">两次输入不一致</span>
		</div>
		<div class="col-50">
			<input type="password" ng-model="change_notice.pwd1_number">
		</div>
		</div>
	</label>
	<label class="item item-input">
		<div class="row no-left-bottom-row">
		<div class="input-label col-50 myinput">
			<span class="row">确认密码</span>
			<span ng-show="change_notice.pwd2_null" class="row notice">请输入至少六位密码</span>
			<span ng-show="change_notice.pwd_notsame" class="row notice">两次输入不一致</span>
		</div>
		<div class="col-50">
			<input type="password" ng-model="change_notice.pwd2_number">
		</div>
		</div>
	</label>
	<div class="login_btns">
		<button ng-class="{1:'email button button-block z_btn',0:'error_btn button button-block z_btn'}[change_notice.error_class]" ng-click="changepwd()" >
		{{words.change_word}}
		</button>
		<!-- 		<p><a href="#">忘记密码</a></p> -->
	</div>
</div>
</ion-content>
</ion-view>