<ion-view >
<ion-nav-buttons side="left">
<button class="button button-icon icon ion-ios-arrow-back" nav-transition="ios" animation="slide-left-right" ui-sref="homepage.history_yue"
style="font-size:16.2px;">&nbsp;约我的</button>
</ion-nav-buttons>
<ion-content  direction="y" >
<div class="item item-icon-left myItemList" href="#">
  <i class="icon ion-ios-body-outline span_color"></i>
  <span>项目名</span>
  <span class="item-note" style="font-size:16px;color:#EEA702;">
    {{displayItem.name}}
  </span>
</div>
<div class="item item-icon-left myItemList" href="#">
  <i class="icon ion-ios-location-outline span_color"></i>
  <span>地点</span>
  <span class="item-note" style="font-size:16px;color:#EEA702;">
    {{displayItem.location}}
  </span>
</div>
<div class="item item-icon-left myItemList" href="#">
  <i class="ion-ios-timer-outline span_color icon"></i>
  <span>开始时间</span>
  <span class="item-note" style="font-size:16px;color:#EEA702;">
    {{displayItem.startTime}}
  </span>
</div>
<div class="item item-icon-left myItemList" href="#">
  <i class="ion-ios-timer-outline icon span_color "></i>
  <span>结束时间</span>
  <span class="item-note" style="font-size:16px;color:#EEA702;">
    {{displayItem.endTime}}
  </span>
</div>
<div class="item item-icon-left myItemList" href="#">
  <i class="icon ion-ios-paper-outline span_color"></i>
  <span>备注</span>
  <span class="item-note" style="font-size:16px;color:#EEA702;">
    {{displayItem.remark}}
  </span>
</div>
<p class="list_title">谁约了我ヽ(•̀ω•́ )ゝ</p>
<div class="list">
  <div ng-class="{'item everyoneList':everyOne.itemClass,'agreeColor':everyOne.agreeColor,'disagreeColor':everyOne.disagreeColor}">
    <div class="row">
      <div class="col-67">
        <div class="row">
          <span style="font-size:1.8rem;">{{everyOne.name}}&nbsp;<span ng-class="{'ion-female': everyOne.isFemale, 'color_f': everyOne.isFemale,'ion-male':everyOne.isMale,'color_m':everyOne.isMale,'ion-help':everyOne.isNot,'color_n':everyOne.isMale}"></span></span>
          <span style="font-size:1.4rem;color:#666;padding-left:1rem;">{{everyOne.words}}</span>
        </div>
        <div class="row" style="padding-top:3px;">
          <div class="col-10">
            <img src="./img/homepage/4.png" style="width:1.1rem;">
          </div>
          <div class="col-10">
            <img src="./img/homepage/4.png" style="width:1.1rem;">
          </div>
          <div class="col-10">
            <img src="./img/homepage/4.png" style="width:1.1rem;">
          </div>
          <div class="col-10">
            <img src="./img/homepage/4.png" style="width:1.1rem;">
          </div>
          <div class="col-10">
            <img src="./img/homepage/4.png" style="width:1.1rem;">
          </div>
        </div>
      </div>
      <div class="col">
        <button class="button agreeBtn" ng-click="agree()" ng-disabled="everyOne.forbidden">
        同意
        </button>
        <button class="button disagreeBtn" ng-click="disagree()" ng-disabled="everyOne.forbidden">
          拒绝
        </button>
      </div>
    </div>
  </div>
  </ion-content>
  </ion-view>